<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
        <listener class-name="com.medelz.utilities.Listeners"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>

	<class name="com.medelz.testCases.AUTH_pre_registeration_data_validation"/>
	<class name="com.medelz.testCases.PREREGIS_pre_registration_otp"/>
	<class name="com.medelz.testCases.PREREGIS_user_pre_registration_otp_verification"/>
	<class name="com.medelz.testCases.AUTH_user_registeration"/>



      <class name="com.medelz.testCases.AUTH_user_login"/>
      <class name="com.medelz.testCases.HOME_upload_file"/>
      
      
      <class name="com.medelz.testCases.HOME_landing_page"/>
      <class name="com.medelz.testCases.HOME_trending_categories_content"/>
      <class name="com.medelz.testCases.HOME_music_page"/>
      <class name="com.medelz.testCases.HOME_dance_page"/>
      <class name="com.medelz.testCases.HOME_fashion_page"/>
      <class name="com.medelz.testCases.HOME_film_page"/>
      <class name="com.medelz.testCases.HOME_painting_page"/>
      <class name="com.medelz.testCases.HOME_photography_page"/>
      <class name="com.medelz.testCases.HOME_landing_page_api_v2"/>
      
      <class name="com.medelz.testCases.PLAYLIST_create_playlist"/>
      <class name="com.medelz.testCases.PLAYLIST_get_playlist_song"/>
      <class name="com.medelz.testCases.PLAYLIST_public_playlist_song"/>
      <class name="com.medelz.testCases.PLAYLIST_update_playlist"/>
      <class name="com.medelz.testCases.SINGLECONTENT_delete_content_entity"/>
      <class name="com.medelz.testCases.SINGLECONTENT_add_single_content"/>
      <class name="com.medelz.testCases.PLAYLIST_delete_playlist"/>
      
      <class name="com.medelz.testCases.MEDELZCONTENT_my_content_medelz"/>
      
      <class name="com.medelz.testCases.LOCATIONS_get_countries"/>
      
      <class name="com.medelz.testCases.ALBUM_create_album"/>
      <class name="com.medelz.testCases.ALBUM_update_album"/>
      <class name="com.medelz.testCases.ALBUM_delete_from_album"/>
      <class name="com.medelz.testCases.ALBUM_add_to_album"/>
      <class name="com.medelz.testCases.ALBUM_get_album_content"/>
      <class name="com.medelz.testCases.ALBUM_get_album_and_playlist"/>
      <class name="com.medelz.testCases.ALBUM_delete_album"/>
      
      <class name="com.medelz.testCases.SINGLECONTENT2_add_comment"/>
       <class name="com.medelz.testCases.SINGLECONTENT2_update_comment"/>
       <class name="com.medelz.testCases.SINGLECONTENT2_get_comment"/>
        <class name="com.medelz.testCases.SINGLECONTENT2_add_content_to_favourite_list"/>
        <class name="com.medelz.testCases.SINGLECONTENT2_favourite_list"/>
        <class name="com.medelz.testCases.SINGLECONTENT2_add_content_to_favourite_list2"/>
        <class name="com.medelz.testCases.SINGLECONTENT2_edit_single_content"/>
         <class name="com.medelz.testCases.SINGLECONTENT2_content_suggestions"/>
         <class name="com.medelz.testCases.SINGLECONTENT2_single_content"/>
         <class name="com.medelz.testCases.SINGLECONTENT2_add_feedback"/>
         <class name="com.medelz.testCases.SINGLECONTENT2_delete_comment"/>
         
         
         <class name="com.medelz.testCases.USERDETAILS_change_user_details"/>
         <class name="com.medelz.testCases.USERDETAILS_private_user_details"/>
         <class name="com.medelz.testCases.USERDETAILS_public_user_details"/>
          <class name="com.medelz.testCases.USERDETAILS_all_artist_queried"/>
          <class name="com.medelz.testCases.USERDETAILS_change_entity_image"/>
          <class name="com.medelz.testCases.USERDETAILS_featured_users"/>
          <class name="com.medelz.testCases.USERDETAILS_list_of_followed_users"/>
           <class name="com.medelz.testCases.USERDETAILS_update_password"/>
            <class name="com.medelz.testCases.USERDETAILS_followed_user"/>
            
            
            
            <class name="com.medelz.testCases.UPDATEEMAIL_verify__old_email"/>
            <class name="com.medelz.testCases.UPDATEEMAIL_verify_otp"/>
            <class name="com.medelz.testCases.UPDATEEMAIL_update_email"/>
            <class name="com.medelz.testCases.UPDATEEMAIL_verify_email"/>
            
            
            <class name="com.medelz.testCases.FORGOTTENPASSWORD_password_reset_email"/>
            <class name="com.medelz.testCases.FORGOTTENPASSWORD_otp_confirmation_request"/>
            <class name="com.medelz.testCases.FORGOTTENPASSWORD_update_password"/>
      

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
